<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new review on <%= @food_truck.name %></h1>
    <p>
      Hello, <%= @user.first_name %> <%= @user.last_name %>
      Someone posted a new review on <%= @food_truck.name %>.<br>
    </p>
    <p>Thanks for using What the Truck?</p>
  </body>
</html>
